* {
  margin: 0;
  padding: 0;
}

.main-calendar {
  display: flex;
  overflow-x: auto;
  margin: 30px 5px;
}

.day-div {
  text-align: center;
  padding: 0.5rem 1.6rem;
  border: 1px solid #c5c4c4ee;
  font-weight: 600;
  margin-right: 0.4rem;
  border-radius: 10px;
}

.date-div,
.month-div {
  text-align: center;
  padding: 5px;
}
.main-div {
  display: flex;
  color: #4ebcdd;
}
button:hover {
  background-color: rgb(127, 229, 215);
  color: black;
  cursor: pointer;
}

.slots {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.morning,
.evening,
.afternoon,
.labelslot {
  margin: 1rem 0.1rem 1rem 0.1rem;
  color: #717171;
}

.morningslots,
.eveningslots,
.afternoonslots {
  display: flex;
  overflow-x: auto;
}
.slotbutton {
  text-align: center;
  padding: 0.3rem 0.6rem;
  border: 1px solid #c5c4c4ee;
  color: #545454ee;
  font-weight: 500;
  margin-right: 0.4rem;
  border-radius: 10px;
  cursor: pointer;
}
.slotbutton:hover {
  background-color: #80d8b2;
  color: white;
}
